{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}The Anti-Social Network{% endblock %}

{% block page_content %}
<div class="page-header">
	{% if current_user.is_authenticated() %}
    	<h1>Hello, {{ current_user.username }}</h1>
	    {{ wtf.quick_form(form) }}
	{% else %}<h1> Welcome to the Anti-Social Network! </h1>
    <h3>This is the place where you can write whatever you want because nobody really cares! Create new imaginary friends! Let them like your posts! Enjoy having no real friends!</h3>
	{% endif %}
</div>

<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated() %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>

{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
